/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
/public/build
/bootstrap/ssr
.env
.env.testing
.env.backup
phpstan.txt
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.idea/*
/.idea
package-lock.json
composer.lock
.DS_Store
.scripts/
