.btn-disabled {
    filter: grayscale(100%);
}

.select-clear {
    position: absolute;
    bottom: 100%;
    left: calc(100% - 36px);
    z-index: 11;   
}

.rotate-180 {
    transform: rotate(180deg);
}

.small-icon {
    height: 24px;
}

.metro-search-icon {
    position: absolute;
    left: 13px;       
    bottom: 30%;
}

#search-map {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    z-index: 10;
}

.invisible {
    visibility: hidden;
}

.yandex-container {
    width: 100%;
    height: 100%;
}

.maxh {
    max-height: 0;
    transition: max-height 0.2s;
}

.maxhh {
    max-height: 800px;
    transition: max-height 0.2s;
}

.filter-scrollbar::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}

.filter-scrollbar2::-webkit-scrollbar {
    width: 24px;
    border-radius: 4px;
}

.filter-scrollbar3::-webkit-scrollbar {
    width: 16px;
    border-radius: 4px;
}

.filter-scrollbar::-webkit-scrollbar-track,
.filter-scrollbar2::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

.filter-scrollbar3::-webkit-scrollbar-track {
    background: #EAEFFD;
    border-radius: 8px;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
    background: #6170FF;
    border-radius: 4px;
}

.filter-scrollbar2::-webkit-scrollbar-thumb {
    border: 8px solid white;
    background: #6170FF;
    border-radius: 12px;
}

.filter-scrollbar3::-webkit-scrollbar-thumb {
    border: 4px solid #EAEFFD;
    background: #6170FF;
    border-radius: 8px;
}

.filter-scrollbar,
.filter-scrollbar2,
.filter-scrollbar3 {
    scrollbar-width: thin;
    scrollbar-color: #6170FF #ffffff;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}

.scrollbar2::-webkit-scrollbar {
    width: 24px;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track,
.scrollbar2::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
    border-left: 12px solid transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #6170FF;
    border-radius: 4px;
}

.scrollbar2::-webkit-scrollbar-thumb {
    border: 8px solid white;
    background: #6170FF;
    border-radius: 12px;
}

.scrollbar,
.scrollbar2 {
    scrollbar-width: thin;
    scrollbar-color: #6170FF #ffffff;
}

.swiper-pagination-bullet {
    background-color: white;
}

.swiper-pagination-bullet-active {
    background-color: #6170FF;
}


.qs-datepicker-container {
    position: static;
    border: none;
    border-radius: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: auto;
    width: 24.25rem;
    max-width: calc(100vw - 6.25rem);
}

.qs-controls {
    padding: 1.3125rem;
    background: white;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.qs-month-year {
    color: #515561;
}

.qs-squares {
    padding: 1rem;
    display: grid;
    gap: 0 0.5rem;
    grid-template-columns: repeat(7, 1fr);
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    outline: 1px solid #6170ff;
    background: transparent;
}

.qs-square {
    border-radius: 0.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #515561;
    padding: 0.5rem 0.625rem;
    height: auto;
    width: auto;
}

@media (max-width: 430px) {
    .qs-square {
        font-size: 0.7rem;
    }
}

@media (max-width: 300px) {
    .qs-square {
        font-size: 0.6rem;
    }
}

.qs-active {
    background: #6170FF;
    color: white;
}
